.message {
  display: flex;
  align-items: baseline;
  margin-top: 1.6rem;
  max-width: 100%;
  @include regular-text;
  min-height: fit-content;
  .author {
    @include montserratBold;
    margin-right: 1rem;
    color: $fontColorDefault;
  }
  .body {
    word-break: break-all;
    @include regular-text-small;
    color: $fontColorDefault;
    .emoji {
      font-size: 1.8rem;
    }
  }
}
.message:last-child {
  padding-top: 1rem;
}
.sticker{
  width: 12.8rem;
  height: 12.8rem;
}