.message {
  display: flex;
  align-items: baseline;
  margin-top: 1.6rem;
  max-width: 100%;
  @include text-md;
  .author {
    @include montserratBold;
    margin-right: 1rem;
    color: $fontColorDefault;
  }
  .body {
    @include montserratMedium;
    color: $fontColorDefault;
    .emoji {
      font-size: 1.8rem;
    }
  }
}