.dialogue {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: auto;
  .wrap {
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    overflow-x: hidden;
    position: relative;
  }
}
