.dialogue {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  margin-bottom: 2rem;
  // margin-top: 2rem;
  .wrap {
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    position: relative;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    .message:last-child {
      background-color: aqua;
    }
  }
  .wrap::-webkit-scrollbar {
    display: none;
  }
}
