.chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  //height: -webkit-fill-available;
  height: auto;
  flex: 1;
  max-height: 65%;
  background-image: url('@/assets/img/live/background-chat.png');
  background-size: cover;
  margin-top: 1.5rem;
  border-radius: 20px;
  padding: 0rem 1.5rem 2rem 1.5rem;
}