.item {
  @include montserratBold;
  @include text-md;
  box-sizing: border-box;
  width: 12rem;
  line-height: 4rem;
  padding: 0 2rem;
  color: $white;
  background: #D46D33;
  flex-shrink: 0;
  border-radius: $border-radius-3;
  list-style: none;
  a {
    color: inherit;
  }
}
