.item {
  @include regular-text-bold;
  box-sizing: border-box;
  width: 11.7rem;
  line-height: 4rem;
  color: $white;
  background: #D46D33;
  flex-shrink: 0;
  border-radius: $border-radius-3;
  list-style: none;
  &.showAnimate {
    opacity: 0;
  }
  @media (max-width: $mobileWidth) {
    width: 13rem;
  }
  a {
    color: inherit;
    display: block;
    padding: 0 2rem;
  }
}
