.list {
  width: 100%;
  overflow: auto;
  display: flex;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  /* Hide scrollbar for IE, Edge and Firefox */

  @media(min-width: $desktopWidth) {
    justify-content: center;
  }
  li + li {
    margin-left: .5rem;
  }
}
