.product {
  position: relative;
  display: flex;
  color: $fontColorDefault;
  background-color: $gray3;
  border-radius: 2rem;
  padding: 1.5rem;
  cursor: pointer;
  &__description {
    flex: 1;
  }
  &__img {
    width: 7.7rem;
    height: 9.9rem;
    margin-right: 1.3rem;
    align-self: center;
    img {
      max-width: 100%;
    }
  }
  &__select {
    width: 9.4rem;
    height: 3.1rem;
    margin-bottom: 1.1rem;
    border-radius: .6rem;
    color: $fontColorDefault;
    :global(.vs__dropdown-toggle) {
      border: .2rem solid #222222;
      padding: 0;
      background-color: #F5F5F5;
      height: 3.1rem;
      width: 9.4rem;
      cursor: pointer;
      :global(.vs__selected-options) {
        padding: 0;
        :global(.vs__search) {
          padding: auto 1.3rem;
          font-size: 1.4rem !important;
        }
        :global(.vs__selected) {
          margin: 0;
          padding: auto 1.3rem;
          @include regular-text;
          height: 100%;
        }
      }
      :global(.vs__actions) {
        margin: 0;
        padding: 0;
        padding-right: 0.6rem;
        :global(.vs__open-indicator) {
          fill: #222222;
          // width: 1.4rem;
          // height: 1rem;
        }
        :global(.vs__clear) {
          display: none
        }
      }
    }

    select {
      background-position: calc(100% - 1.3rem) center;
      border: .2rem solid $fontColorDefault;
      padding-left: 1.3rem;
      padding-right: 1.3rem;
    }
  }
  .count {
    @include regular-text;
    margin-bottom: 0.5rem;
  }
  &__title {
    @include regular-text;
    margin-bottom: 1rem;
  }
  &__price {
    @include regular-text;
    font-weight: 700;
  }
  &__count {
    @include regular-text-bold;
    @include title-sm;
  }
  &__buttons {
    display: flex;
    * + *  {
      margin-left: 1rem;
    }
  }
  &__change_count {
    display: flex;
    justify-content: space-between;
  }
  &__total_price {
    @include montserratBold;
    @include title-sm;
  }
  &__iconDelete {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    cursor: pointer;
    width: 2.1rem;
    height: 2.1rem;
  }
}
.product+.product {
  margin-top: 2.5rem;
}
