.product {
  position: relative;
  display: flex;
  color: $fontColorDefault;
  background-color: $gray3;
  border-radius: 2rem;
  padding: 1.5rem;
  &__description {
    flex: 1;
  }
  &__img {
    width: 7.7rem;
    height: 9.9rem;
    margin-right: 1.3rem;
    align-self: center;
    img {
      max-width: 100%;
    }
  }
  &__select {
    width: 9.4rem;
    height: 3.1rem;
    margin-bottom: 1.1rem;
    border-radius: .6rem;
    color: $fontColorDefault;

    select {
      background-position: calc(100% - 1.3rem) center;
      border: 2px solid $fontColorDefault;
      padding-left: 1.3rem;
      padding-right: 1.3rem;
    }
  }
  .count {
    @include regular-text;
    margin-bottom: 0.5rem;
  }
  &__title {
    @include montserratSemiBold;
    @include regular-text;
    margin-bottom: 0.5rem;
  }
  &__price {
    @include montserratSemiBold;
    @include regular-text;
    font-weight: 700;
  }
  &__count {
    @include regular-text-bold;
    @include title-sm;
  }
  &__buttons {
    display: flex;
    * + *  {
      margin-left: 1rem;
    }
  }
  &__change_count {
    display: flex;
    justify-content: space-between;
  }
  &__total_price {
    @include montserratBold;
    @include title-sm;
  }
  &__iconDelete {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    cursor: pointer;
  }
}
