$border-radius: 5px;
$border-radius-large: 2.4rem;

$mp: 1.5rem;
$mp-s: 0.5rem;

$fontColorDefault: #151515;
$fontColorGrey: #909090;

$defaultColorPrimary: #4243DE;

$white: #ffffff;

$primary: var(--primary);
//$primary: #4243DE;
$primary-light: #F6F7FF;
$primary-light2: #4E76DE;
$primary-light3: #6EC5E6;
$primary-inverse: #fff;
$app-ui-bg: #fff;

