//@import './_fonts.scss';
@import './_normalize.scss';
@import './_variables.scss';
@import './transitions.scss';

@mixin title {
  font-size: 4.8rem;
  line-height: .745;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.logoTop {
  position: fixed;
  z-index: 11;
  top: 2.9rem;
  left: 50%;
  transform: translateX(-50%);
  @media (max-width:$mobileWidth) {
    top: 7rem;
  }
}


html {
  font-size: 10px;
  background-color: $blueBlack3;
  height: -webkit-fill-available;
  @media (max-width: $desktopWidth) {
    font-size: calc((10 / 1440) * 100vw);
  }
  @media (max-width: $tabletWidth) {
    font-size: calc((10 / 900) * 100vw);
  }
  @media (max-width: $mobileWidth) {
    font-size: calc((10 / 390) * 100vw);
  }
}

body {
  width: 100%;
  background-color: $blueBlack3;
  @include montserratRegular;
  @include text-sm;
  // @include regular-text;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  &:global(.popup-opened) {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
}

.popup-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 60rem;
}

.smallText {
  font-size: 1.4rem !important;
  line-height: 143%;
  letter-spacing: 0;
  font-style: normal;
}

.emoji {
  font-size: 1.8rem;
  margin: 0rem 0.1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}
