@import './_fonts.scss';
@import './_normalize.scss';
@import './_variables.scss';
@import './transitions.scss';
//@import './vendor/vue-core-video-player';

* {
  box-sizing: border-box;
}

html, #app {
  height: 100%;
}

html {
  font-size: calc((10 / 1280) * 100vw);
  background-color: white;
  //@media (max-width: $mobileWidth) {
  //  font-size: 2.6666666667vw;
  //}

  //@media (max-width: $mobileWidth) and (orientation: landscape) {
  //  font-size: 1.302083333vw !important;
  //}
}

//html {
//  height: 100%;
//}

body {
  font-size: 1.8rem;
  line-height: 1.1666666667;
  font-family: 'Inter', sans-serif;
  height: 100%;
  width: 100%;
  color: #000;

  &:global(.popup-opened) {
    overflow: hidden;
  }

  //@media (max-width: $mobileWidth) {
  //  font-size: 1.4rem;
  //  line-height: 1.4;
  //}
}

a {
  text-decoration: none;
}

.popup-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 60rem;
}

.smallText {
  font-size: 1.4rem !important;
  line-height: 143%;
  letter-spacing: 0;
  font-style: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
