.live {
  //position:fixed;
  //top: 0;
  //height: -webkit-fill-available;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $white;
  width: 39rem;
  max-width: 100%;
  padding: 1.5rem 1.5rem 3.5rem 1.5rem;
  border-radius: 20px;
  .title {
    text-align: center;
    line-height: 2.6rem;
    font-size: 2.1rem;
    @include montserratBold;
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: normal;
    margin-bottom: 2rem;
  }
}